:root{
     /* background color  */
     --primary-color: #ffffff;
     --purple-color: #7030f7;
     --black-color: #111111;

     --text-black: #111111;
     --text-white: #ffffff;
     --text-gray: #6c7179;
     --text-light: #1f1f1f;
     
     
  
     /* gradient color  */
     
     --gradient-1: linear-gradient(120deg,  #7a93b808, #7a93b826);
     --gradient-2: #7a93b81A;
     --gradient-3: linear-gradient(360deg, #7a93b826, #7a93b81A);
     
    
     /*others color*/
     --scrollbar-color: #fff;
     --scrollbar-thump:#263040;
     --scrollbar-hover: #6f89b6;
    
     /* transition  */
     --transition-1: 0.25s ease;
     --transition-2: 0.3s ease;
     --transition-3: 0.4s ease;
     
 
      /* fontsize  */
      --font-h1: 2.8rem;
      --font-h2: 2.25rem;
      --font-h3: 4rem;
      --font-h4:1.5rem;
      --font-h5: 1.30rem;


      --font-24:1.5rem;
      --font-20: 1.25rem;
      --font-18: 1.125rem;
      --font-16: 1rem;
      --font-15: 0.938rem;
      


      /* font-weight  */
      --font-bold:700;
      --font-semi:600;
      --font-medium:500;
      --font-regular:400;
      --font-light:300;

      /* z-index  */
      --z-minus:-1;
      --z-zero:0;
      --z-low:1;
      --z-high:10;
      --z-100:100;
      --z-tooltop:1000;
      --z-fix:1100;
      --z-overlay:1110;
      --z-modal:1990;
      --z-max:9999;

 
     }
    
     /* ----------------------------------------
       ============= reset css  ==============
       -------------------------------------------*/
     *,
     *::after,
     *::before{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
 
     }
     li{
         list-style: none;
     }
 
     a,
     img,
     input,
     button,
     i{
         display: block;
         text-transform: capitalize;
     }
     button{
      background: none;
      border: 0;
      outline: 0;
      cursor: pointer;
      width: fit-content;
     }
     .btn{
        max-width: 100%;
        width: fit-content;
       cursor: pointer;
       text-align: center;
       transition: 0.3s ease;
        border-radius: 15px;
        padding: 10px 25px;
        text-transform: capitalize;
        border: 1px solid transparent;

       
     }
     .primary-btn{
        color: var(--black-color);
        border: 1px solid #00000013;
        background: #0000000e;
         box-shadow: rgba(0, 0, 0, 0.144) 0px 5px 15px;
        
     }
     .head-btn,
     .head-btn2,
     .custom-btn{
        background: var(--black-color);
        color: var(--text-white);
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
     }
     .head-btn2{
        margin-left: 10%;
        margin-top: 2%;
     }
     .head-btn:hover,
     .head-btn2:hover,
     .custom-btn:hover{
        background: var(--purple-color);
     }
     .primary-btn:hover{
         border: 1px solid #0000004f;

     }
    

     a{
         text-decoration: none;
     }
     img{
         height: auto;
         max-width: 100%;
         object-fit: cover;
     }
    
     html{
         scroll-behavior: smooth;
        
     }
     body{
         max-width: 100%;
         height: auto;
         margin: 0 auto;
         padding: 0 auto;
        font-family: "Instrument Sans", sans-serif;
        font-size: var(--font-16);
        background: var(--primary-color);
        color: var(--text-black);
         position: relative;
         transition:  all 0.5s ease-in-out;
         overflow-X: hidden; 
         animation: fadeed 0.5s ease-in-out;
     }
     

      @keyframes fadeed {
      from{transform: translateY(20px); opacity: 0;}
      to{transform: translateY(0px); opacity: 1;}
          
      }
       
      h1{
      font-size: var(--font-h1);
      line-height: 52px;
      letter-spacing: -1px;
     }
     h2{
      font-size: var(--font-h2);
     }
     h3{
      font-size: var(--font-h3);
     }
     h4{
      font-size: var(--font-h4);
     }
     h5{
      font-size: var(--font-h5);
     }
     h1,h2,h3,h4,h5{
      font-weight: var(--font-medium);
     }

     .font-20{
      font-size: var(--font-20);
     }
     .font-18{
      font-size: var(--font-18);
     }
     .font-16{
      font-size: var(--font-16);
     }
     .font-15{
        font-size: var(--font-15);
     }
 
     
     
    
     
 /* ============----page scroll bar-----============== */
     ::-webkit-scrollbar { 
         width: 5px; 
         
     }
 
     ::-webkit-scrollbar-track { 
         overflow: hidden;
         background: transparent;

        
     }
 
     ::-webkit-scrollbar-thumb {
    
     border-radius:100px;
     background: var(--scrollbar-thump); 
     transition: 0.3s;
    
   }
   ::-webkit-scrollbar-thumb:hover{
        opacity: 0.6;
  
   }
 
   @keyframes wiggle {
        0%,
        5%{
            transform: rotateZ(0);

        }
        15%{
            transform: rotateZ(-2deg);

        }
        20%{
            transform: rotateZ(2deg);

        }
        25%{
            transform: rotateZ(-2deg);

        }
        30%{
            transform: rotateZ(1deg);

        }
        35%{
            transform: rotateZ(-2deg);

        }
        40%,
        100%{
            transform: rotateZ(0);

        }
        
     }
 /* =====================cursor customizing=============== */

 /* =====================others=========================== */
    .container{
     max-width: 100%;
     padding: 0.5% 1% ;
     margin: 0 2% ;
     
    }
    section{
     margin: 8% 5% 3%;
     max-width: 100%;
     position: relative;
     transition: var(--transition-1);
    }

    /* <!-- =================================================
    --------------Header start here------------------
    =================================================   --> */
    header{
        max-width: 100%;
        height: auto;
        position: relative;
        overflow:hidden;
    }
    .head{
        background:#ffffff;
        backdrop-filter: blur(50px);
        width: 100%;
        height: auto;
        padding: 15px 100px 12px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 9999;
        transition: var(--transition-1);
       
        
        
    }
    .head .logo{
        font-size: var(--font-20);
        font-weight: 500;
        color: var(--text-black);
        transform: scale(1);
        transition: var(--transition-1);
    }
    .head .logo:hover{
        transform: scale(0.99);
        color: var(--text-gray);
    }
    .head nav{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        
        
    }
    nav a{

        font-size: var(--font-15);
        color: var(--text-black);
        font-weight: 500;
        margin: 0 5px;
        text-align: center;
        transition: color var(--transition-1);
    }
    nav:hover a{
        color:#6c7179ad;
        
    }
    nav a:hover {
      color: black ;
    }
    .menu-control{
        display: none;
        transition: var(--transition-2);
        position: relative;

       
    }
    .menu-control i{
        font-size: var(--font-h5);
        position: absolute;
        transition: var(--transition-1);
    }
    .menu-control i:hover{
        transform: scale(1.05);
    }
    #closeMenu{
        display: none;
        transition: var(--transition-1);
    }
    #openMenu{
        display: block;
        transition: var(--transition-1);
    }




   
.hero {
  position: relative;
  height: 60vh;
  margin-top: 220px;
  
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero-text {
  text-align: center;
 
  
  border-radius: 10px;
  transform: translateY(100px) scale(1.1);  
 
  opacity: 1;
  transition: all 2s ease;
  overflow: hidden;
  
}

.hero-text.show {
     transform: translateY(10px) scale(1);
  
}
main{
   
    z-index: 1000;
}

.blur-image-wrapper {
  position: relative;
  width: 55%;
  max-width:100%;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
}

.blur-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: block;
  
  

   -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  
}

.hero-content{
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100px;
    transition: 1s ease-in;

    backdrop-filter: blur(1.5px);
    /* background:  linear-gradient(to top, rgba(255, 255, 255, 0.349) 60%, rgba(255, 254, 254, 0.295) 80%, rgba(255, 255, 255, 0) 100%); */

    background: linear-gradient(to top, 
        rgba(255, 255, 255, 0.25) 50%, 
        rgba(255, 255, 255, 0.1) 80%, 
        rgba(255, 255, 255, 0) 100%);
    
}
.navigation{
    max-width: 100%;
    width: 100%;
    height: 60vh;
    background:#ffffffbb;
    backdrop-filter: blur(50px);
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 1000;
    transition: var(--transition-1);
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 50px;
   border-radius: 0 0 20px 20px;
}
.navigation-link,
.nav-social{
    max-width: 100%;
    padding: 3% 11%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.navigation-link a{
    color: var(--black-color);
    font-size: var(--font-16);
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition-1);
}
.navigation-link a:hover{
    opacity: 0.8;
}
.nav-social{
    flex-direction: row;
}
.nav-social i{
    display: block;
    font-size: var(--font-20);
    padding: 5px;
    border: 1px solid #00000021;
    color: var(--text-gray);
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition-1);
}
.nav-social i:hover{
     border: 1px solid #00000060;


}

.hero-left-content{
   
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: auto;
    padding-left: 7.5%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

 .about-img-badge{
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;
      max-width: 100%;
      width: fit-content;
      margin-bottom: 15px;
      border: 1px solid #00000017;
      padding: 8px 20px;
      border-radius: 25px;

     }
  
     .about-img-badge span{
        font-size:var(--font-16);
        font-weight: 500;
        color: var(--text-gray);
        padding-left: 5px;
        text-transform: capitalize;
    }
    .circle-container {
      position: relative;
      width: 10px;
      height: 10px;
    }

    .circle {
      width: 10px;
      height: 10px;
      background-color: #02c543;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    .glow {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(circle, rgba(0, 255, 85, 0.952) 30%, transparent 80%);
      border-radius: 50%;
      animation: pulse 3s infinite ease-in-out;
      transition: var(--transition-2);
    }

    @keyframes pulse {
      0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.4;
      }
      50% {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 0;
      }
      100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.4;
      }
    }
    .hero-right-content{
        position: absolute;
        width: 32%;
        padding-right: 7.5%;
        padding-left: 1%;
        padding-bottom: 2%;
        margin-bottom: 5%;
        background: #ffffff11;
        border-radius: 10px;
        backdrop-filter: blur(2px);
        bottom: 0;
        right: 0;
        height: auto;
        z-index: 2;

    }
    .hero-right-content p{
        margin-bottom: 25px;
        text-align: justify;
    }
    .hero-right-content a{
        font-weight: 400;
    }

 /* =================================================
\--------------main start here------------------
================================================= */
#feature,
#award,
#service{
    position: relative;
    max-width: 100%;
    transition: var(--transition-1)
}
/* -- -----------feature section-----------  --  */
.feature-title{
    max-width: 100%;
    width: 100%;
    padding: 10px 0;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.feature-title h2{
    text-align: left;
    max-width: 100%;
}
.feature-title a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 10px;
    transition: var(--transition-1);
}
.feature-title a i{
    color: var(--black-color);
    display: block;
    transition: var(--transition-1);
}
.feature-title a:hover i{
    margin-left: 5px;
}
.feature-container{
    max-width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: var(--transition-1);
}
.feature-container .feature-card{
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 20px;
     border-radius: 6%;
}
.feature-card .feature-img{
    height: 450px;
    border-radius: 6%;
    overflow: hidden;
    transition: var(--transition-3);
    position: relative;
    cursor: pointer;
}
.feature-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6%;
    transform: scale(1.05);
    transition: var(--transition-3);
}
.feature-img:hover img{
    
    transform: scale(1);
}
.feature-card .feature-info{
    max-width: 100%;
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: 2;
    padding: 20px 40px ; 
    cursor: pointer;
    

}
.feature-info h4{
    color: var(--text-white);
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.feature-info .feature-btn{
    max-width: 100%;
    display: flex;
    gap: 20px;
    transition: var(--transition-1);
}
.feature-info span{
    padding: 8px 20px;
    color: var(--text-white);
    border: 1px solid #FFF;
    border-radius: 15px;
    max-width: 100%;
    width: fit-content;
    font-size: var(--font-18);
    font-weight: 600;
    background: #fdfbfb25;
    backdrop-filter: blur(20px);
    text-transform: capitalize;

}

/* -- -----------award section-----------  --  */

#award{
    padding: 5px 20px;
}
.award-container{
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 25px;
    transition: var(--transition-1);
}
.award-card{
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: var(--transition-1);
    max-width: 100%;
    height: 530px;
    padding: 10px;
   
   
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 30px;
    cursor: pointer;
    
}
.award-card .award-title{
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;

}
.award-title i{
    font-size: var(--font-h2);
    display: block;
    margin-top: 10px;
    color: rgb(241, 178, 2);
    transition: var(--transition-1);
    animation: twoUpper 2s linear infinite;

}
@keyframes twoUpper {
    0%,100%{
        margin-left: -10px;
        transition: var(--transition-1);
        opacity: 0.8;
    }
    50%{
        margin-left: 0;
        transition: var(--transition-1);
        opacity: 1;
    }

    
    
}
.award-info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 10px;
}
.award-info p{
    color: var(--text-gray);
    line-height: 25px;
}
.award-img{
    position: relative;
    z-index: 2;
    transform: translateY(0);
    transition: var(--transition-3);
    border-radius: 10px;
   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
.award-card:hover .award-img{
    transform: translateY(-115px);
    
    

}
.award-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.award-img i{
    position: absolute;
    top: 20px;
    border-radius: 30px;
    right: 10px;
   
    padding: 10px;
    background: var(--text-gray);
    color: var(--text-white);
    font-size: var(--font-h4);
    opacity: 0;
    transition: var(--transition-1);
}
.award-card:hover .award-img i{
    opacity: 1;
}
.award-card:nth-child(2){
    background: #111111;
    padding: 10px 25px;
    box-shadow: rgba(25, 25, 26, 0.493) 0px 7px 29px 0px;
}
.award-card .fa-quote-right{
    font-size: var(--font-h2);
    color: var(--text-gray);
    margin-top: 15px;
    
}
.award-card:nth-child(2) h4{
    color: var(--text-white);
    margin: 10% 0 40%;
    font-weight: 700;
    line-height: 32px;
}
.award-card:nth-child(2) .award-founder{
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    
}
.award-founder img{
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
}
.award-founder .award-name{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.award-name p{
    text-transform: capitalize;
    color: var(--text-white);

}
.award-name .font-18{
    font-weight: 600;
}
.award-nam .font-16{
    opacity: 0.8;
}

.award-card:nth-child(3){
    overflow: visible;
}
.award-card:nth-child(3):hover .award-top-badge{
    transform: translateX(-50%) translateY(-20px);
    opacity: 1;
    
}
.award-top-badge{
    max-width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #02c543;
    width: 330px;
    height: auto;
    border-radius: 35px;
    gap: 15px;
    padding: 4px 15px 4px 5px;
    z-index: 5;
    
    opacity: 0;
    transition: var(--transition-1);
    left: 50%;
    transform: translateX(-50%) translateY(20px);
}
.award-top-badge .award-badge-img{
    max-width: 100%;
    display: flex;
    position: relative;
}
.award-badge-img img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
   
}
.award-badge-img img:nth-child(2),
.award-badge-img img:nth-child(4),
.award-badge-img img:nth-child(3){
    margin-left: -5px;
}

.award-top-badge .font-18{
    color: var(--text-white);
    font-weight: 600;
}
.award-card-badge{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--gradient-1);
    border-radius: 30px;
}
.card-badge{
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: rgba(141, 158, 177, 0.685) 0px -5px 70px -10px;
    background: #ffffffce;
    border: 1px solid #0000000e;
    transition: var(--transition-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(30px);
}
.card-badge:nth-child(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    box-shadow: none;
   
    z-index: 3;
}
.card-badge:nth-child(2){
    position: absolute;
     top: 54%;
    left: 50%;
    transform: translateX(-50%);
    width: 310px;
    
    z-index: 2;
}
.card-badge:nth-child(3){
     position: absolute;
     top: 57%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    
    z-index: 1;

}
.award-card-badge:hover .card-badge:nth-child(1){
    top: 35%;
    
   
}
.award-card-badge:hover .card-badge:nth-child(2){
    width: 320px;
}
.award-card-badge:hover .card-badge:nth-child(3){
    width: 320px;
    top: 70%;
}
.card-badge p{
    font-weight: 500;
}
.card-badge i{
    font-size: var(--font-h4);
    animation: oneUpper 1s linear infinite;
}
@keyframes oneUpper {
    0%,100%{
        margin-left: -1px;
        transition: var(--transition-1);
        opacity: 0.8;
    }
    50%{
        margin-left: 0;
        transition: var(--transition-1);
        opacity: 1;
    }

    
    
}

/* ------------service-----------------------------  */
.service-title{

    max-width: 100%;
    width: 100%;
    gap: 50px;
    margin: 5% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-title p{
    width: 30%;
     padding:0 15px ;
     text-transform: capitalize;
     font-weight: 700;
     color: var(--text-gray);
     text-align: left;
}
.service-title h2{
    width: 70%;
    padding:0 15px ;
    font-weight: 500;
    text-align: left;
}

.service-title h2 span{
    color: var(--text-gray);
}

.service-container{
    max-width: 100%;
    margin: 10% 10px 3%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    align-items: center;
    position: relative;
    transition: var(--transition-1);
}
.service-container .service-card{
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 20px;
    height: 480px;
    transition: var(--transition-1);
   
}
.service-card:nth-child(2){
    background: #000;
}
.service-card:nth-child(2) .branding-body{
    background-color: #7030f7;
}
.service-card .branding-body{
    
    margin:20px auto ;
    padding: 2px 5px;
    background: var(--primary-color);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: var(--transition-1);
     opacity: 1;
}
.service-card:hover .branding-body::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff96;
    z-index: 2;
    transition: var(--transition-1);
    opacity: 0.8;

}
.service-card:nth-child(2):hover .branding-body:before{
     position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #11111196;
    z-index: 2;
    transition: var(--transition-1);
    opacity: 0.8;
    
}
.service-card:nth-child(2) .branding-body p{
    color: var(--text-white);
}
.branding-body p{
    padding: 10px;
    margin-bottom: 2px;
    color: var(--text-black);
    opacity: 0.8;
    line-height: 25px;
}
.branding-body .branding-img{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
}
.branding-img .b-image{
    width: 100%;
    height: 100px;
    border-radius: 10px;
}
.b-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.branding-btn{
    margin-top: 10px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3px 10px;
    margin-bottom: 15px;
    gap: 10px;
}
.service-card:nth-child(2) .branding-body .branding-btn span{
    color: var(--text-white);
    border: 1px solid var(--text-gray);
}
.branding-btn span{
    display: block;
    color: var(--text-gray);
    font-size: var(--font-16);
    padding: 5px 10px;
    font-weight: 500;
    border: 1px solid #00000015;
    max-width: 100%;
    width: fit-content;
    border-radius: 10px;
}

.branding-card{
    padding: 10px;
    background: #fff;
     width: 100%;
    height: 60px;
    border-radius: 20px;
     overflow: hidden;
    transition: var(--transition-1);
}
.service-card:hover .branding-card .branding-tab:nth-child(1){
    opacity: 0;
    margin-top: -20%;
  
}
.service-card:hover .branding-card .branding-tab:nth-child(2){
    opacity: 1;
   
    margin-top: 25px;
}
.branding-card .branding-tab{
    max-width: 100%;
    display: flex;
    margin-top: 0px ;
    margin-bottom: 5px ;
   
    justify-content: space-between;
    align-items: center;
    padding: 5px ;
   
    transition: var(--transition-2);
}
 .branding-tab p{
    color: var(--text-black);
    font-weight: 500;
    text-transform: capitalize;
 }
 .service-card:nth-child(2) .branding-tab p{
    color: var(--text-white);
 }
  .branding-tab i{
    font-size: var(--font-20);
    color: #02c543;
    padding: 5px;
    background-color:#c9b92834 ;
    border-radius: 5px;
  }
  .service-card:nth-child(2) .branding-tab i{
    color: var(--text-light);
    background-color: var(--primary-color);
  }
 /* .branding-tab.tab-2{
   
    transition: var(--transition-1);
    display: none;
    
 } */
.service-card:hover  .branding-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}


/* ----------------------work--------------------  */
#work{
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 0 3%;
    height: 126vh;
    margin: 0 auto;
    background-image: url(https://framerusercontent.com/images/WjZVYjfVNTdo9UKicX5AdploJGc.webp);
}
.index-container{
      position: relative;
    z-index: 2;
    max-width: 100%;
    width: 100%;
}
#work .service-title{
    margin-top: 5%;
    
}
#work .service-title h2{
    padding-right: 7%;
}
.chose-container{
    height: 70vh;
    padding:  0 ;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    cursor: grab;
    
    overflow-y: auto;
   
}

.chose-container::-webkit-scrollbar{ 
    width: 0;
        
}
.choose-card{
    width: 60%;
    height: 45vh;
    max-width: 100%;
    padding: 0;
    top: 0;
    left: 30%;
    position: sticky;
   

}
.oneSide{
      max-width: 100%;
      padding:35px 25px;
       width: 400px;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: var(--transition-1);
    gap: 10px;
    background: #000;
   box-shadow: rgba(149, 157, 165, 0.103) 0px 8px 24px;
}
.oneSide span{
    color: var(--text-white);
    width: 35px;
    height: 35px;
    background: var(--gradient-3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 10px;
}
.oneSide h4{
    color: var(--primary-color);
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;

}
.oneSide p{
    color: var(--text-gray);
    
}
.oneSide:nth-child(1){
   
    left:31% ;
}
.oneSide:nth-child(2){
   
    left: 50%;
    top: 50px;
    
}
.oneSide:nth-child(3){
    left: 34%;
    top: 135px;
}
.oneSide:nth-child(4){
    left: 43%;
    top: 200px ;
  
}
.oneSide:nth-child(5){
    left: 52%;
    top: 0px ;
  

}





/* *1536,1280,1024,898,768,600*  */
@media(max-width:1280px){
    .hero {
  
  height: 50vh;
  margin-top: 200px;
  
 }
 .feature-info .feature-btn{
   flex-direction: column;
}
.award-container,
.service-container{
    grid-template-columns: repeat(2, 1fr);
}
.award-card{
    margin-top: 35px;
    height: 600px;
}
.service-card:hover .branding-card .branding-tab:nth-child(2){
    
    margin-top: 50px;
}
.branding-img .b-image{
   
    height: 140px;
   
}

}
@media(max-width:1024px){
    .head-btn{
        display: none;
    }
    .menu-control{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
       
    }
    .head nav{
        display: none;
    }
    .hero {
  
        height: 60vh;
        margin-top: 400px;
  
    }
    .hero-left-content{
   
        width: 100%;
        bottom: none;
        top: 10%;
        left: 0;
        padding: 15px 10%;
        z-index: 4;
    
    }
    .hero-right-content{
       
        width: 100%;
        padding-right: 7.5%;
       padding: 15px 10%;
        background: none;
        backdrop-filter: blur(0px);
        bottom: none;
        right: none;
        top: 36%;
        left: 0;
        height: auto;
        z-index: 2;

    }
    .blur-image-wrapper {
        width: 70%;
    }
    .feature-container,
    .service-container{
        grid-template-columns: 1fr;

    }
    .feature-info .feature-btn{
        flex-direction: row;
    }.branding-img .b-image{
    
        height: 200px;
    
    }
    .service-card:hover .branding-card .branding-tab:nth-child(2){
        
        margin-top: 120px;
        
    }
    .service-container .service-card{
        height: 500px;
    }
    .oneSide{
        width: 500px;

    }
    .choose-card{
         width: 80%;
        left: 0%;
    }
.oneSide:nth-child(1){
   
    left:10% ;
}
.oneSide:nth-child(2){
   
    left: 15%;
    top: 50px;
    
}
.oneSide:nth-child(3){
    left: 10%;
    top: 135px;
}
.oneSide:nth-child(4){
    left: 15%;
    top: 200px ;
  
}
.oneSide:nth-child(5){
    left: 10%;
    top: 0px ;
  

}

   
}
@media(max-width:898px){
    .award-container{
        grid-template-columns: 1fr;
    }
    .award-card:nth-child(1){
        height: 1000px;
    }
    .service-title{
        flex-direction: column;
    }.service-title p{
        width: 100%;
        padding:0 15px ;
        text-align: center;
    }
    .service-title h2{
        width: 100%;
        padding:0 15px ;
        text-align: center;
    }
    .service-card:hover .branding-card .branding-tab:nth-child(2){
        
        margin-top: 95px;
        
    }
    .service-container .service-card{
        height: 530px;
    }

}
@media(max-width:768px){
    .service-card:hover .branding-card .branding-tab:nth-child(2){
        
        margin-top: 70px;
        
    }.chose-container{
        
        height: 60vh;
        margin-top: 15%;
    }
    .choose-card{
         width: 80%;
        left: -10%;
    }

}
@media(max-width:600px){
     .service-card:hover .branding-card .branding-tab:nth-child(2){
        
        margin-top: 50px;
        
    }

}


    

    


   
